body {
  font-family: 'Arial', sans-serif;
  background-image: url('/portada.jpg'); /* Fondo del juego */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurecimiento ligero para contraste */
}

.App {
  text-align: center;
  padding: 20px;
  background-color: rgba(35, 248, 160, 0.85); /* Fondo semitransparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.jugador {
  padding: 10px;
  background-color: #4CAF50; /* Verde cuando está en turno */
  color: white;
  border-radius: 5px;
  width: 120px;
  transition: background-color 0.3s ease; /* Suave transición */
}

.jugador-inactivo {
  background-color: #F44336; /* Rojo cuando no está en turno */
}

.jugador h3 {
  margin: 0;
  font-size: 18px;
}

.jugador p {
  margin: 5px 0 0;
  font-size: 16px;
}

.titulo {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.palabra-secreta {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.intento {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

input {
  padding: 10px;
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #333;
  margin: 0 5px;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
}

span.correcto {
  background-color: #4CAF50;
  color: white;
}

span.incorrecto {
  background-color: #F44336;
  color: white;
}

span.mala-posicion {
  background-color: #FFC107;
  color: white;
}

.input-section {
  margin-top: 20px;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Centrar el contenido de la pantalla */
.pantalla-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.intro-box {
  background-color: rgba(0, 0, 0, 0.2); /* Fondo casi transparente */
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.titulo-3d, .subtitulo-3d {
  color: yellow;
  text-shadow: 2px 2px 0 #000, 4px 4px 0 #333; /* Efecto 3D */
  margin: 10px 0;
}

.titulo-3d {
  font-size: 2.5rem; /* Tamaño de fuente más grande para el h1 */
}

.subtitulo-3d {
  font-size: 1.8rem; /* Tamaño más pequeño para el h2 */
}

.boton-intro {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.boton-intro:hover {
  background-color: #45a049;
}

.instrucciones-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
}
